---
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
		<title>NFT Market</title>
		<script defer>
			import {startViewTransition} from '../utils/index.js'

			startViewTransition()
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
		:root {
			--text-card: #a1a1a1e4;
			--text-dribble: #ff46dae4;
			--bg-contrast: #d5f70c
		}
	}
	@layer components {
		.noise {
			background-position: 50%;
			background-repeat: repeat;
			background-image: url(/images/noise.png);
			background-size: 140px 100px;
		}

		.bg-glow {
			background: radial-gradient(46.99% 43.05% at 2.58% 100%, #4c4c4c6d 0, transparent 100%), radial-gradient(55.18% 55.16% at 12.42% -3.42%, #a020f049 0, transparent 100%)
		}

		.border-grad {
			position: relative;
			border-radius: 0.8rem; 
		}

		.border-grad::before {
			content: "";
			position: absolute;
			inset: 0;
			border-radius: 0.8rem; 
			padding: 1px; 
			background:linear-gradient(to left top, #d6d6d68c, #484848bd);
			-webkit-mask: 
				linear-gradient(#fff 0 0) content-box, 
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: xor;
          	mask-composite: exclude;
		}

		.border-detail-grad {
			position: relative;
			border-top: 0.8rem;
		}

		.border-detail-grad::before {
			content: "";
			position: absolute;
			inset: 0;
			border-radius: 0.8rem;
			padding: 2px; 
			background:linear-gradient(to bottom, #d6d6d68c, #48484800);
			-webkit-mask: 
				linear-gradient(#fff 0 0) content-box, 
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: xor;
          	mask-composite: exclude;
		}

		.eth-value {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}

		.eth-value::after,
		.eth-value::before {
			margin-top: 0.5rem;
			content: '';
			height: 1px;
			width: 3rem;
		}

		.eth-value::after {
			background: linear-gradient(to left, transparent, var(--bg-contrast));
		}

		.eth-value::before {
			background: linear-gradient(to right, transparent, var(--bg-contrast));
		}

	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	h1, p, span {
		font-family: 'Kaushan Script';
	}
</style>